<html>

<head>
  <title>Inntopia Active Packages</title>


  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>



  <div class="site-wrap">
    <h2>Currently Active Packages at <span><%= @resortTitle %></span></h1>

      <table class="pure-table pure-table-bordered pure-table-striped">
        <tr>
          <thead>
            <th>Event Name</th>
            <th>Event Start Date</th>
            <th>Event Description </th>
            <th>Event Link</th>
            <th>Image</th>
          </thead>
        </tr>
        <% @events.each do |event| %>
          <tr>
            <td>
              <%= event['Title']   %>
            </td>
            <td>
              <%= DateTime.parse(event['StartDate']).strftime('%A %I:%M:%S %p')  %>
            </td>
            <td>
              <%=  event['Description'] %>
            </td>
            <td><a href="<%=  event['EventLink'] %>">Learn More</a> </td>
            <td><img src="https://www.winterparkresort.com<%=  event['ImageLink'] %>" width="300"> </td>
          </tr>
          <% end %>
      </table>
  </div>


</body>

</html>
