<html>

<head>
  <title>Winter Park Upcoming Events</title>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style type="text/css">
    a {
      color: #98002e !important;
      font-weight: bold;
    }
    a:hover, a:active {
      color: #98002e !important;
      text-decoration: underline;
    }

    .card .card-title {
      font-size: 22px !important;
    }
    

  </style>

</head>

<body>
  <div class="container">
    <div class="row">
      <% 3.times do |index|  %>
        <% event = @events[index] %>
          <div class="col s12 m4">
            <div class="card medium">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://www.winterparkresort.com<%=  event['ImageLink'] %>" width="300">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= event['Title'] %><i class="material-icons right">more_vert</i></span>
                <p>
                  <%= DateTime.parse(event['StartDate']).strftime('%A %b %e %I:%M:%S %p')  %>
                </p>
              </div>
              <div class="card-action">
                <a href="https://www.winterparkresort.com<%=  event['EventLink'] %>">Learn More &gt;</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= event['Title'] %><i class="material-icons right">close</i></span>
                <p>
                  <%=  event['Description'] %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
    </div>
  </div>

  <!--
    This loops though all in feed   
    <% @events.each do |event| %>
          
              <%= event['Title'] %>
            
              <%= DateTime.parse(event['StartDate']).strftime('%A %b %e %I:%M:%S %p')  %>
            
              <%=  event['Description'] %>
            <a href="https://www.winterparkresort.com<%=  event['EventLink'] %>">Learn More</a><img src="https://www.winterparkresort.com<%=  event['ImageLink'] %>" width="300"> </td>
         
          <% end %>
  
-->

</body>

</html>
