<html>

<head>
  <title>
    <%= @resortTitle %>
  </title>





</head>

<body>
 
  <tr>
    <td class="h30" height="30">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#efe8da" ;>
        <tbody>
        
          <tr>
            <td class="w10" width="25">&nbsp;</td>
            <td align="center" valign="top">
            <% 4.times do |index|  %>
                <% event = @events[index] %>
              <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                <tbody>
                  <tr>
                    <td align="left" valign="top">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" class="w100pc" style="width:285px; height:285px; padding-right: 10px; padding-bottom: 10px" width="285" height="285">
                        <tbody>
                          <tr>
                            <td align="center" valign="top" bgcolor="#ffffff"><a href="#" name="hyperlink15" target="_blank" xt="SPCLICK"><img alt="" border="0"   src="https://www.winterparkresort.com<%=  event['ImageLink'] %>" style="display:block;" width="285" height="130" xt="SPIMAGE" /></a></td>
                          </tr>
                          <tr>
                            <td height="15" style="line-height:15px; font-size:15px;" bgcolor="#ffffff">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:22px;color:#9c2f31;font-weight:bold;"
                              valign="top" bgcolor="#ffffff"><%= event['Title'] %></td>
                          </tr>
                          <tr>
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;line-height:20px; color:#9c2f31;" valign="top"
                              bgcolor="#ffffff"><%= DateTime.parse(event['StartDate']).strftime('%A %b %e %I:%M:%S %p')  %></td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" bgcolor="#ffffff">
                              <table align="center" border="0" cellpadding="0" cellspacing="0" width="125">
                                <tbody>
                                  <tr>
                                    <td align="center" bgcolor="#ffffff" height="35" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#9c2f31;font-weight:bold;"
                                      valign="middle"><a href="https://www.winterparkresort.com<%=  event['EventLink'] %>" name="hyperlink16" style="text-decoration:none;display:block;line-height:35px;color:#9c2f31;"
                                        target="_blank" xt="SPCLICK">Learn More ></a></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table></table>
                    <% end %>
    </td>
  </tr>
  <tr>
    <td class="h30" height="30">&nbsp;</td>
  </tr>



</body>

</html>
