<html>

<head>
  <title><%= @resortTitle %></title>



</head>

<body>
<strong><%= @data['name'] %></strong> <br />
<%= (@data['score'].to_f * 5) / 100  %> out of 5<br />
<%= @data['score_description'] %><br />
<%= @data['reviews_count'] %><br />

</body>

</html>
