
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>
    <%= @resortTitle %>
  </title>

</head>

<body>

  <!-- ><%= @data['name'] %>-->
  <span class="value" style="line-height: 1em;background: #7cb342;color: #fff;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;margin: 0 3px 0 0;padding: 5px 0 0;font-weight: 500;font-size: 10px;width: 19px;height: 19px;text-align: center;display: inline-block;vertical-align: top;">
    <%= (@data['score'].to_f * 5) / 100  %>
  </span>


  <span class="score" style="line-height: 14px;color: #505050;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;margin: 0 3px 0 0;font-weight: 500;font-size: 12px;">
    <%= @data['score_description'] %>
  </span>
  
  <span class="rating-wrapper" style="line-height: 1em;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;margin-top: 0;margin-left: -4px;display: block;">
    <span class="trustyou-ui rating" style="line-height: 1em;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;margin-top: -5px;display: inline-block;text-align: right;">
      
      <span class="rating-units" style="line-height: 1em;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;width: 70px;margin-left:2px">
          <img src="https://event-email.herokuapp.com/icons/sprite-rating-green-full.png" height="10">
          <img src="https://event-email.herokuapp.com/icons/sprite-rating-green-full.png" height="10">
          <img src="https://event-email.herokuapp.com/icons/sprite-rating-green-full.png" height="10">
          <img src="https://event-email.herokuapp.com/icons/sprite-rating-green-full.png" height="10">
          <img src="https://event-email.herokuapp.com/icons/sprite-rating-green-none.png" height="10">
      </span>
    </span>
    
    <span class="counter" style="line-height: 10px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;color: #999;font-weight: 500;font-size: 9px;margin-top: -3px;display: inline-block;">
      <%= @data['reviews_count'] %>
      </span>
    </span>



</body>

</html>
